<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= task.taskName %></title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    
  </head>
  <body>

    <div class="task-container"> 

    <h1>Edit a Task!</h1>
    <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">

      <label for="task">Task's Name:</label>
      <input
        type="text"
        name="taskName"
        id="task"
        value="<%= task.taskName %>"
      />

    <label for="task">Task's Name:</label>
    <input 
    type="text" 
    name="taskName" 
    id="task" />
    <br>

    <label for="description">Description:</label>
    <textarea 
    name="description" 
    id="description" 
    required></textarea>
    <br>

    <label for="duration">Duration:</label>
    <select 
    name="duration" 
    id="duration" 
    required>
      <option value="1-3 months">1-3 months</option>
      <option value="3-6 months">3-6 months</option>
      <option value="6-12 months">6-12 months</option>
      <option value="1 year or more">1 year or more</option>
    </select>
    <br>

    <label for="status">Status:</label>
    <input 
    type="text" 
    name="status" 
    id="status" 
    required />
    <br>

    <label for="ministry">Ministry:</label>
    <input 
    type="text" 
    name="ministry" 
    id="ministry" 
    required />
    <br>

    <label for="teams">Teams:</label>
    <input 
    type="text" 
    name="teams" 
    id="teams" 
    required />
    <br>
    
      />
      <br>
      
      <button type="submit">Update Task</button>
      </form>
  </body>
</html>